
/* Controls
---------------------------------------------------------------------- */

.controls {
    padding: 1rem;
    background: #333;
    font-size: 0.1px;
}

.control {
    position: relative;
    display: inline-block;
    width: 2.7rem;
    height: 2.7rem;
    background: #444;
    cursor: pointer;
    font-size: 0.1px;
    color: white;
    transition: background 150ms;
}

.control:hover {
    background: #3f3f3f;
}

.mixitup-control-active {
    background: #393939;
}

.mixitup-control-active[data-filter]:after {
    background: transparent;
}

.control:first-of-type {
    border-radius: 3px 0 0 3px;
}

.control:last-of-type {
    border-radius: 0 3px 3px 0;
}

.control[data-filter] + .control[data-sort] {
    margin-left: .75rem;
}

.control[data-filter=".green"] {
    color: #91e6c7;
}

.control[data-filter=".blue"] {
    color: #5ecdde;
}

.control[data-filter=".pink"] {
    color: #d595aa;
}

.control[data-filter="none"] {
    color: #2f2f2f;
}

/* Container
---------------------------------------------------------------------- */

.mix_container {
    padding: 1rem;
    text-align: justify;
    font-size: 0.1px;
}

.mix_container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    background: #fff;
    border-top: .5rem solid currentColor;
    border-radius: 2px;
    margin-bottom: 1rem;
    position: relative;
}


.mix.green {
    color: #91e6c7;
}

.mix.pink {
    color: #d595aa;
}

.mix.blue {
    color: #5ecdde;
}

/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {

}


.mix_button{
    background: none;
    color:#fff;
    margin:0 8px;
    border:2px solid #aaa;
}

.mix{

    background: none;
    color: #fff;
    text-indent: 0px;
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
    border:none;
    width: 100%;


}

.details_container{position: relative; border-bottom:2px solid #aaa; padding-bottom: 20px; }
.details_content{position: relative; visibility: hidden;height: 0; opacity: 0; margin-top: 35px;
    -webkit-transition:all 0.5s ease-in; 
    transition: all 0.5s ease-in;
}


.hide_this{
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer !important;
    
}


.bx-viewport{background: #ddd;}

.details_content.show{visibility: visible; height: auto; opacity: 1}
.mfp-wrap{z-index: 99999999 !important}

.mfp-figure button{
    top: 23px !important;
    font-size: 45px !important;
    padding: 10px !important;
    height: 50px !important;
    cursor: pointer !important;

}

img{max-width: 100%; height:auto;}
.single_item{ padding-bottom: 20px;}
.see_more_part{border:1px solid #E5C772; color:#E5C772; margin-top: 15px; background:none;}


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.image-popup-fit-width img{display: block; margin: 0 auto;}


.check_result{

    color: #000;
    background: #ddd;
    padding: 10px 0;
    font-size: 25px;

}

.modal{z-index: 99999 !important}
.bxslider > div{color:#000;}